.venv/
venv/
__pycache__/
*.pyc

.DS_Store

# Large Machine Learning Files and DICOM Images
datasets/micro_cubes/
datasets/raw_data/
datasets/model/

# Previews
backup/
docs/
scripts/
v2/
.env
dashboard/training_logs/
dashboard/extraction_audits/
dashboard/extraction_logs/
dashboard/data_quality_audit/